section {
  background-color: #333;
  overflow: auto;
  padding: 70px 0px;
  
  aside {
    background-color: #CCC;
    box-sizing: border-box;
    float: right;
    height: 500px;
    padding: 20px;
    width: 30%;
  }
  
  article {
    background-color: #FFF;
    box-sizing: border-box;
    float: left;
    height: 500px;
    padding: 20px;
    width: 70%;
  }
  
  h2 {
    background-color: #333;
    color: #FFFF00;
    padding: 20px;
    
    a {
      background-color: #222;
      border-radius: 5px;
      color: #FFF;
      display: inline-block;
      font-size: 18px;
      margin-left: 10px;
      padding: 5px;
      vertical-align: middle;
    }
  }
  
  pre {
    background-color: #FFF;
    color: #000;
    font-size: 14px;
  }
  
  ul {
    list-style-type: none;
    margin-left: 20px;
    padding: 0px;
    
    li {
      display: inline-block;
      
      a {
        background-color: #333;
        border: none;
        color: #FFF;
        display: inline-block;
        padding: 10px;
        
        &:hover {
          background-color: #333;
        }
        
        &.selected {
          background-color: #FFF;
          color: #000;
        }
      }
    }
  }
  
  span {
    vertical-align: middle;
  }
  
  .icon {
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
    width: 16px;
  }
}