form {
  margin: 0px auto;
  padding-bottom: 20px;
  width: 500px;
  
  input {
    font-size: 18px;
    padding: 5px;
    width: 500px;
  }
}

h1 {
  font-size: 32px;
  text-align: center;
}

.result {
  background-color: #FFF;
  border: 10px #FFF solid;
  border-radius: 200px;
  box-sizing: border-box;
  display: inline-block;
  padding: 40px 20px;
  text-align: center;
  width: 20%;
  
  &:hover {
    background-color: #FFF;
    border: 10px #EEE solid;
  }
  
  a {
    border: none;
    
    &:hover {
      background-color: transparent;
      color: #333;
    }
  }
  
  .image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 90px 90px;
    display: block;
    height: 90px;
    margin: 0px auto;
    width: 90px;
  }
  
  .name {
    clear: right;
    font-size: 24px;
    padding-bottom: 5px;
  }
  
  .type {
    color: #FFF;
    font-size: 12px;
    text-shadow: 1px 1px 1px #666;
    text-transform: uppercase;
  }
}