@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

header {
  background-color: #000;
  box-sizing: border-box;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 100;
  
  img {
    height: 50px;
  }
  
  nav {
    float: right;
    font-size: 18px;
    text-transform: uppercase;
    
    a {
      color: #FFF;
      display: inline-block;
      padding: 15px 15px 14px 15px;
      
      &:hover {
        color: #FFFF00;
      }
    }
    
    @media screen and (max-width: 640px) {
      display: none;
    }
  }
  
  .logo {
    float: left;
    height: 50px;
    
    @media screen and (max-width: 640px) {
      left: 50%;
      margin-left: -89px;
    }
  }
  
  .login {
    border: 2px #FFF solid;
    border-radius: 50px;
    color: #FFF;
    float: right;
    font-size: 18px;
    padding: 13px 15px 12px 15px;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
    
    &:hover {
      background-color: #FFFF00;
      border-color: #FFFF00;
      color: #000;
    }
    
    @media screen and (max-width: 640px) {
      display: block;
      margin: 0px;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  
  .menu {
    display: none;
    
    @media screen and (max-width: 640px) {
      display: block;
      left: 10px;
      position: absolute;
      top: 10px;
    }
  }
  
  .user {
    border-radius: 50px;
    float: right;
    height: 50px;
    overflow: hidden;
    width: 50px;
    
    @media screen and (max-width: 640px) {
      margin: 0px;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}