@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

header {
  background-color: #000;
  box-sizing: border-box;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 100;
  
  img {
    height: 50px;
  }
  
  nav {
    font-size: 18px;
    margin: 0px auto;
    text-align: center;
    text-transform: uppercase;
    
    a {
      background-size: 32px 32px;
      color: transparent;
      display: inline-block;
      height: 32px;
      margin: 9px 10px;
      overflow: hidden;
      white-space: nowrap;
      width: 32px;
      
      &.console {
        background-image: url(/images/console.svg);
        
        &:hover, &.selected {
          background-image: url(/images/console-hover.svg);
        }
      }
      
      &.download {
        background-image: url(/images/download.svg);
        
        &:hover, &.selected {
          background-image: url(/images/download-hover.svg);
        }
      }
      
      &.hub {
        background-image: url(/images/hub.svg);
        
        &:hover, &.selected {
          background-image: url(/images/hub-hover.svg);
        }
      }
      
      &.support {
        background-image: url(/images/support.svg);
        
        &:hover, &.selected {
          background-image: url(/images/support-hover.svg);
        }
      }
    }
    
    @media screen and (max-width: 640px) {
      display: none;
    }
  }
  
  .logo {
    float: left;
    height: 50px;
    width: 228px;
    
    @media screen and (max-width: 640px) {
      left: 50%;
      margin-left: -89px;
    }
  }
  
  .login, .signup {
    border: 2px #FFF solid;
    border-radius: 50px;
    color: #FFF;
    float: right;
    font-size: 18px;
    padding: 13px 15px 12px 15px;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
    
    &:hover {
      background-color: #FFFF00;
      border-color: #FFFF00;
      color: #000;
    }
    
    @media screen and (max-width: 640px) {
      display: block;
      margin: 0px;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  
  .login {
    border-color: #000;
  }
  
  .menu {
    display: none;
    
    @media screen and (max-width: 640px) {
      display: block;
      left: 10px;
      position: absolute;
      top: 10px;
    }
  }
  
  .user {
    border-radius: 50px;
    float: right;
    height: 50px;
    overflow: hidden;
    width: 50px;
    
    @media screen and (max-width: 640px) {
      margin: 0px;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
}