@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

#menu {
  background-color: #000;
  display: none;
  left: 0px;
  opacity: .75;
  position: fixed;
  top: 0px;
  z-index: 3000;
  
  div {
    background-color: #111;
    border-radius: 50px;
    overflow: hidden;
    position: fixed;
    width: 90%;
    
    a {
      box-sizing: border-box;
      color: #FFF;
      display: block;
      font-size: 48px;
      margin: 0px auto;
      padding: 20px;
      text-align: center;
      text-transform: uppercase;
      
      &:hover {
        background-color: #FFFF00;
        color: #000;
      }
    }
  }
}