extends layout
block content
  h2= collection.name
  div(class='image', style='background-color: #'+collection.color + '; background-image: url(https://s3.amazonaws.com/crystal-alpha/collections/' + collection.id + '.svg)')
  h3 Modules