extends layout
block content
  h1 Download
  ul
    li
      a(href='download#mac') Mac
    li
      a(href='download#win') Windows
    li
      a(href='download#lin') Linux
  h2 <a name="mac"></a>Mac
  h2 <a name="windows"></a>Windows
  h2 <a name="linux"></a>Linux