footer
  a(href='/')
    img(src='images/crystal-light.svg')
  ul
    li
      a(class='github', href='http://github.com/crystal', target='_blank', title='Crystal on GitHub') GitHub
    li
      a(class='twitter', href='http://twitter.com/crystalcodegen', target='_blank', title='Crystal on Twitter') Twitter
    li
      a(class='facebook', href='http://facebook.com/crystalcodegen', target='_blank', title='Crystal on Facebook') Facebook
  div &copy; 2015 Crystal