header
  a(class='logo', href='/', title='Crystal Homepage')
    img(src='images/crystal-logo-icon.svg')
  a(class='menu', href='menu', 'Menu')
    img(src='images/menu.svg')
  if avatar
    a(class='user', href='user', title='My Account')
      img(src=avatar + '?s=50')
  else
    a(class='login', href='login', title='Crystal Login (or Sign Up)') Login
  nav
    a(class='download', href='download', title='Download Crystal') Download
    a(class='registry', href='registry', title='Crystal Registry') Registry
    a(class='support', href='support', title='Crystal Support') Support