header
  h1
    a(href='/', title='Crystal Homepage')
      img(height=40, src='images/crystal-logo-icon.svg')
  nav
    ul
      li
        a(class='download', href='download', title='Download Crystal') download
      li
        a(class='browse', href='browse', title='Browse Crystal') browse
      li
        a(class='search', href='search', title='Search Crystal') search
      li
        a(class='docs', href='docs', title='Crystal Documentation') docs
      li
        a(class='help', href='help', title='Crystal Support, Tutorials & FAQs') help
      if avatar
        li
          a(class='user', href='user', title='My Account')
            img(src=avatar)
      else
        li
          a(class='login', href='https://github.com/login/oauth/authorize?client_id=' + clientID + '&redirect_uri=' + redirectURI + '&scope=user,public_repo', title='Crystal Login (or Sign Up)') login
