header
  h1
    a(href='/', title='Crystal Homepage')
      img(height=40, src='images/crystal-logo-icon.svg')
  nav
    ul
      li
        a(class='hub', href='hub', title='Crystal Hub') hub
      li
        a(class='docs', href='docs', title='Crystal Documentation') docs
      li
        a(class='help', href='help', title='Crystal Support, Tutorials & FAQs') help
      //li
      //  a(class='login', href='login', title='Crystal Login (or Sign Up)') login