extends layout
block content
  h2 Help & Support
  //h2 Crystal Tutorials
  //ul
  //  li
  //    a(class='project', href='help/tutorial/project')
  //      span.title Project Tutorial
  //      img(src='images/project-tutorial.svg')
  //      span.desc Learn How to Use<br />Generators for Your Projects
  //  li
  //    a(class='generator', href='help/tutorial/generator')
  //      span.title Generator Tutorial
  //      img(src='images/generator-tutorial.svg')
  //      span.desc Learn How to Make<br />Your Own Generators
  h3 Contact Support
  p
    a(href='mailto:support@crystal.sh', title='Email') support@crystal.sh
  h3 Ask a Question
  p
    a(href='http://twitter.com/crystalcodegen', target='_blank', title='Crystal on Twitter') @crystalcodegen
  h3 Report an Issue
  p
    a(href='https://github.com/crystal/crystal', target='_blank', title='Report an Issue') https://github.com/crystal/crystal/issues
  h3 irc chat
  p #crystalcodegen on freenode