extends layout

block content
  div(id="intro")
    div
      if avatar
        p(class='title') Crystal v0.6.0 now available
        p(class='desc') Create custom Templates, Schemas, Engines + more.
        button(href='signup', onclick='window.location = "/signup"') Download
      else
        p(class='title') Crystal is a Code Generator that makes<br />any Developer a Full Stack Developer
        a(class='button signup', href='signup') Sign Up
  div(class='banner') Get Started
  //div(id='try')
    //h2 Select different inputs to see their outputs
    //textarea
    //textarea
  div(id='features')
    ul
      li
        h2 Install Crystal
        div NPM:
        code npm install -g crystal
        div Homebrew: (Mac Only)
        code brew install crystal
        p Install Crystal via <a href="http://npmjs.com" target="_blank">npm</a> or <a href="http://brew.sh" target="_blank">Homebrew</a>.
      li
        h2 Find Generators
        code
          | crystal search 
          a(id='search-term', href="/generators", title='Crystal Generator')= '<generator>'
        p search the community
      li
        h2 Create Generators
        code crystal publish
        p publish your own
    aside
      script(src='https://asciinema.org/a/18692.js', id='asciicast-18692', async)
  div(class='banner') Top Core Generators
  div(id='lang-generators')
    ul
      li
        img(height=200, src='images/python.svg')
        h2 Python
        p
          a(href='modules/django.core') django
          | , 
          a(href='modules/pip.core') pip
          |  & 
          a(href='modules/ponyorm.core') ponyorm
      li
        img(height=200, src='images/mongo.svg')
        h2 Mongo
        p
          a(href='modules/mongomapper.core') mongomapper
          |  & 
          a(href='modules/mongoose.core') mongoose
      li
        img(height=200, src='images/php.svg')
        h2 PHP
        p
          a(href='modules/laravel.core') laravel
          | , 
          a(href='modules/propel.core') propel
          |  & 
          a(href='modules/composer.core') composer
      li
        img(height=200, src='images/ruby.svg')
        h2 Ruby
        p
          a(href='modules/rails.core') rails
          | , 
          a(href='modules/sinatra.core') sinatra
          |  & 
          a(href='modules/datamapper.core') datamapper
      li
        img(height=200, src='images/java.svg')
        h2 Java
        p
          a(href='modules/ormlite.core') ormlite
          |  & 
          a(href='modules/hibernateorm.core') hibernateorm
      li
        img(height=200, src='images/redis.svg')
        h2 redis
        p
          a(href='modules/redis.core') redis
          | & 
          a(href='modules/sinatra.core') sinatra
      li
        img(height=200, src='images/go.svg')
        h2 Go
        p
          a(href='modules/gorp.core') gorp
          | , 
          a(href='modules/gorm.core') gorm
          |  & 
          a(href='modules/beedb.core') beedb
      li
        img(height=200, src='images/mysql.svg')
        h2 MySQL
        p
          a(href='modules/mysql.core') mysql
          | & 
          a(href='modules/cakephp.core') cakephp
  div(id='contribute')
    h2 How to Contribute
    ul
      li
        h3 Contribute Code
        img(height=300, src='images/code.svg')
        p Your code contributions have<br />a direct effect on Crystal
        a(href='http://github.com/studiotate/crystal-js', target='_blank') Contribute Now
      li
        h3 Contribute Money
        img(height=300, src='images/money.svg')
        p Your monetary contributions<br />keep Crystal alive
        a(class='venmo-pay-button', data-recipient-id='1397129314566144218')
  div(class='banner') Thank You for Your Support