extends layout

block content
  div(id="intro")
    div
      if avatar
        p(class='title') Crystal v0.6.0 now available
        p(class='desc') Create custom Templates, Schemas, Engines + more.
        button(href='signup', onclick='window.location = "/signup"') Download
      else
        p(class='title') Crystal is a Code Generator that makes<br />any Developer a Full Stack Developer
        a(class='button signup', href='signup') Sign Up
  div(class='banner') Open Source Code Generation
  div(id='hello')
    img(width='100%', src='images/banner.svg')
  div(id='aws')
    div "Most Impressive Infrastructure"
    div - Amazon Web Services, 2015
  div(id='contribute')
    h2 How to Contribute
    ul
      li
        h3 Contribute Code
        img(height=300, src='images/code.svg')
        p Your code contributions have<br />a direct effect on Crystal
        a(href='http://github.com/studiotate/crystal-js', target='_blank') Contribute Now
      li
        h3 Contribute Money
        img(height=300, src='images/money.svg')
        p Your monetary contributions<br />keep Crystal alive
        a(class='venmo-pay-button', data-recipient-id='1397129314566144218')
  div(class='banner') Thank You for Your Support