extends layout
block content
  h2 Crystal Registry
  h3 Find Collections, Modules, Users and more
  div!= form
  if search
    if search.results.length
      h3= search.results.length + ' results found.'
      for result in search.results
        div(class='result')
          div(class='type')= result.type
          div(class='name')
            img(src='https://s3.amazonaws.com/crystal-alpha/collections/' + result.id + '.svg')
            a(href='/' + result.type.toLowerCase() + 's/' + result.name)= result.name
          div!= 'by <a href="user/' + result.user + '">' + result.user + '</a>'
    else
      div No results found.