extends layout

block content
  section(class='page', id='generators')
    h1 crystal generators
    //h2 search
    //p search for generators created by the community
    //input(name='search', oninput='search()', placeholder='search for generators...')
    //div(id='results')
    //each generator in generators
    //  li
    //    a(href=generator.name + '.html')= generator.name
    h2 official crystal generators
    h3 vif (very important file) generators
    ul
      li
        a(href='gen/authors', title='"authors" Generator') authors
        span AUTHORS file generator
      li
        a(href='gen/gitignore', title='"gitignore" Generator') gitignore
        span .gitignore file generator
      li
        a(href='gen/readme', title='"readme" Generator') readme
        span README.md file generator
      li
        a(href='gen/project', title='"project" Generator') project
        span Project generator
    h3 license generators
    ul
      li
        a(href='gen/apache2-license', title='"apache2-license" Generator') apache2-license
        span Apache License 2.0 generator
      li
        a(href='gen/artistic2-license', title='"artistic2-license" Generator') artistic2-license
        span Artistic License 2.0 generator
      li
        a(href='gen/eclipse-license', title='"eclipse-license" Generator') eclipse-license
        span Eclipse License 1.0 generator
      li
        a(href='gen/isc-license', title='"isc-license" Generator') isc-license
        span ISC License generator
      li
        a(href='gen/mit-license', title='"mit-license" Generator') mit-license
        span MIT License generator
    h3 go generators
    ul
      li
        a(href='gen/gorp', title='"gorp" Generator') gorp
        span gorp.go generator
    h3 javascript generators
    ul
      li
        a(href='gen/backbone', title='"backbone" Generator') backbone
        span backbone.js generator
      li
        a(href='gen/bower', title='"bower" Generator') bower
        span bower.js generator
    h3 node.js generators
    ul
      li
        a(href='gen/express', title='"express" Generator') express
        span express.js generator
      li
        a(href='gen/npm', title='"npm" Generator') npm
    h3 php generators
    ul
      li
        a(href='gen/laravel', title='"laravel" Generator') laravel
        span laravel.php generator