header
  h1
    a(href='/', title='Crystal Homepage')
      img(height=40, src='images/crystal-logo-icon.svg')
  nav
    ul
      li
        a(href='generators', title='Crystal Generators') generators
      li
        a(href='docs', title='Crystal Documentation') docs
      li
        a(href='help', title='Crystal Support, Tutorials & FAQs') help
      li
        a(class='login', href='login', title='Crystal Login (or Sign Up)') login