extends layout
block content
  section(class='page', id='help')
    h1 crystal help
    h2 email
    p
      a(href='mailto:chris@studiotate.com', title='Email') chris@studiotate.com
    h2 report an issue
    p
      a(href='https://github.com/studiotate/crystal-js', target='_blank', title='Report an Issue') https://github.com/studiotate/crystal-js/issues
    h2 irc chat
    p #crystalcodegen