extends layout

block content
  section(class='page', id='index')
    img(class='logo', height=300, src='images/crystal.svg')
    p(class='logo') automated code generation for every language, framework and package
    ul(id='features')
      li
        h2 install crystal
        code npm install -g crystal
        p get up and running
      li
        h2 find generators
        code
          | crystal search 
          a(id='search-term', href="/generators", title='Crystal Generator')= '<generator>'
        p search the community
      li
        h2 create generators
        code crystal publish
        p publish your own