extends layout

block content
  section(id='index')
    img(class='logo', height=300, src='images/crystal.svg')
    p(class='logo') automated code generation for every language, framework and package
    ul(id='features')
      li
        h2 install crystal
        code npm install -g crystal
        p get up and running
      li
        h2 find generators
        code
          | crystal search 
          a(id='search-term', href="/generators")= '<generator>'
        p search the community
      li
        h2 create generators
        code crystal publish
        p publish your own
  div(id='lang-generators')
    h1 generators by language
    ul
      li
        h2 python
        img(height=100, src='images/python.svg')
        p
          a(href='gen/django') django
          | , 
          a(href='gen/pip') pip
          |  & 
          a(href='gen/ponyorm') ponyorm
      li
        h2 mongo
        img(height=100, src='images/mongo.svg')
        p
          a(href='gen/mongomapper') mongomapper
          |  & 
          a(href='gen/mongoose') mongoose
      li
        h2 php
        img(height=100, src='images/php.svg')
        p
          a(href='gen/laravel') laravel
          | , 
          a(href='gen/propel') propel
          |  & 
          a(href='gen/composer') composer
      li
        h2 ruby
        img(height=100, src='images/ruby.svg')
        p
          a(href='gen/rails') rails
          | , 
          a(href='gen/sinatra') sinatra
          |  & 
          a(href='gen/datamapper') datamapper
      li
        h2 java
        img(height=100, src='images/java.svg')
        p
          a(href='gen/ormlite') ormlite
          |  & 
          a(href='gen/hibernateorm') hibernateorm
      li
        h2 redis
        img(height=100, src='images/redis.svg')
        p
          a(href='gen/redis') redis
          | , 
          a(href='gen/sinatra') sinatra
          |  & more
      li
        h2 go
        img(height=100, src='images/go.svg')
        p
          a(href='gen/gorp') gorp
          | , 
          a(href='gen/gorm') gorm
          |  & 
          a(href='gen/beedb') beedb
      li
        h2 mysql
        img(height=100, src='images/mysql.svg')
        p
          a(href='gen/mysql') mysql
          | , 
          a(href='gen/cakephp') cakephp
          |  & more