extends layout

block content
  div
    h1 Install Crystal
    h2 Installation
    p Use <a href="http://npmjs.com" target="_blank">npm</a> to install Crystal:
    code npm install crystal -g
    h2 Latest Release
    h3 Crystal v0.2.3 (Quartz)