extends layout

block content
  h1 install crystal
  h2 installation
  p use npm to install crystal:
  code npm install crystal -g
  h2 releases
  h3 crystal quartz 0.2.0
  p the first and latest release of crystal is quartz. the latest version of crystal quartz is 0.2.0.
  p note: crystal is not yet intended for production use.
  h2 prerequisites
  p crystal is written in node.js so it needs the following:
  ul
    li
      a(href='http://nodejs.org', target='_blank') node.js
    li
      a(href='http://npmjs.com', target='_blank') npm