doctype html
html
  head
    base(href='/')
    title= title
    script(src='/scripts/prettify.js')
    script(src='/scripts/lang-yaml.js')
    script(src='http://code.jquery.com/jquery-2.1.3.min.js')
    script(src='/scripts/main.js')
    link(rel='stylesheet', href='/styles/prettify.css')
    link(rel='stylesheet', href='/styles/main.css')
    meta(name='description', content='open-source platform for automated code generation, versioning, licensing, security & deployment of popular languages and frameworks.')
    meta(name='keywords', content='code generator, code generation')
  body
    header
      div
        a(href='/')
          img(height=40, src='images/logo.svg')
      nav
        ul
          li
            a(href='install') install
          li
            a(href='generators') generators
          li
            a(href='docs') docs
          li
            a(href='help') help
    block content