doctype html
html
  head
    base(href='/')
    title= title
    script(src='/scripts/prettify.js')
    script(src='/scripts/lang-yaml.js')
    script(src='http://code.jquery.com/jquery-2.1.3.min.js')
    script(src='/scripts/main.js')
    link(rel='stylesheet', href='/styles/prettify.css')
    link(rel='stylesheet', href='/styles/main.css')
    meta(name='description', content='Crystal is an open-source platform for automated code generation, versioning, licensing, security & deployment of popular languages and frameworks.')
    meta(name='keywords', content='code generator, code generation, nodejs, php, ruby, javascript, coffeescript, html5, go, golang, python, java, scala, erlang, mysql, postgresql, mongo, redis, couchdb, swift, objective-c, android')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, user-scalable=no, width=device-width')
    meta(charset='utf-8')
  body
    header
      div
        a(href='/', title='Crystal Homepage')
          img(height=40, src='images/crystal-logo-icon.svg')
      nav
        ul
          li
            a(href='generators', title='Crystal Generators') generators
          li
            a(href='documentation', title='Crystal Documentation') documentation
          li
            a(href='support', title='Crystal Support') support
          li
            a(class='login', href='login', title='Crystal Login') login
    block content