extends layout

block content
  section(class='page', id='login')
    h1 login
    p login to crystal
    form(action='#', onsubmit='return login()')
      input(name='username', placeholder='username')
      input(name='password', placeholder='password', type='password')
      button(type='submit') login