extends layout

block content
  section(id='signup')
    h1 signup
    p signup to publish, rate and star generators
    form(action='#', onsubmit='return signup()')
      input(name='email', placeholder='email')
      input(name='username', placeholder='username')
      input(name='password', placeholder='password', type='password')
      button(type='submit') signup