footer {
  background: rgb(0,0,0); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(102,102,102,1) 50%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(50%,rgba(102,102,102,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(102,102,102,1) 50%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(102,102,102,1) 50%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(102,102,102,1) 50%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(102,102,102,1) 50%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
  
  color: #FFF;
  font-size: 10px;
  padding: 20px;
  text-align: center;
  
  img {
    height: 100px;
  }
  
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    
    li {
      display: inline-block;
      list-style: none;
      margin: 0px;
      padding: 0px;
      
      a {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 45px 45px;
        color: transparent;
        display: inline-block;
        height: 50px;
        margin: 5px;
        overflow: hidden;
        width: 50px;
      }
      
      a.facebook {
        background-image: url(/images/facebook.svg);
        
        &:hover {
          background-image: url(/images/facebook-hover.svg);
        }
      }
      
      a.github {
        background-image: url(/images/github.svg);
        
        &:hover {
          background-image: url(/images/github-hover.svg);
        }
      }
      
      a.twitter {
        background-image: url(/images/twitter.svg);
        
        &:hover {
          background-image: url(/images/twitter-hover.svg);
        }
      }
    }
  }
}