@font-face {
  font-family: main;
  src: url(/font/main.woff);
}

* {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, p {
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

body {
  background-attachment: fixed;
  background-image: url(/images/quartz.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #666;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  margin: 0;
}

button {
  background: none;
  border: 2px #FFFF00 solid;
  border-radius: 25px;
  color: #FFFF00;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  width: 150px;
}

button:hover {
  background-color: #FFFF00;
  color: #000;
}

button[disabled] {
  background-color: #999;
}

code {
  background-color: #EEE;
  padding: 0px 5px;
}

pre {
  background-color: #EEE;
  padding: 5px;
  overflow: auto;
  width: 100%;
}

form {
  div {
    padding-bottom: 5px;
  }
}

input {
  font-size: 14px;
}

label {
  display: block;
}

pre {
  margin-bottom: 20px;
}

section {
  background-color: #FFF;
  
  a {
    border-bottom: 1px #666 dotted;
    color: #000;
    text-decoration: none;
    
    &:hover {
      background-color: #000;
      border-bottom: none;
      color: #FFFF00;
      text-decoration: none;
    }
  }
}

.error {
  color: #CC0000;
}

@media screen and (max-width: 1000px) {
  body {
    background-size: 1000px auto;
  }
}