@font-face {
  font-family: main;
  src: url(/font/main.woff);
}

a {
  color: #FFFF00;
  text-decoration: none;
  
  &:hover {
    color: #FFFF00;
    text-decoration: none;
  }
}

body {
  background-attachment: fixed;
  background-image: url(/images/quartz.jpg);
  background-position: center 30px;
  background-size: 100% auto;
  font-family: Verdana;
  font-size: 16px;
  margin: 0;
}

button {
  background: none;
  border: 2px #FFFF00 solid;
  border-radius: 25px;
  color: #FFFF00;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  text-align: center;
  width: 150px;
}

button:hover {
  background-color: #FFFF00;
  color: #000;
}

button[disabled] {
  background-color: #999;
}

code {
  background-color: #EEE;
  padding: 0px 5px;
}

pre {
  background-color: #EEE;
  padding: 5px;
  overflow: auto;
  width: 100%;
}

form {
  div {
    padding-bottom: 5px;
  }
}

input {
  font-size: 14px;
}

label {
  display: block;
}

.error {
  color: #CC0000;
}

.page {
  margin: 0px auto;
  padding: 0px 20px 20px 20px;
  
  section article, section section {
    max-width: 630px;
  }
  
  aside {
    background-color: #EEE;
    float: right;
    max-width: 350px;
  }
  
  h1 {
    border-bottom: 1px #CCC solid;
    font-size: 32px;
    font-weight: normal;
    padding-bottom: 10px;
  }
  
  h2 {
    color: #FF0000;
    font-size: 18px;
    font-weight: normal;
  }
  
  h3 {
    color: #999;
    font-size: 14px;
  }
}