a {
  color: #0099FF;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

body {
  font-family: Verdana;
  margin: 0;
}

button {
  background-color: #CC0000;
  border: 0px;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}

button:hover {
  background-color: #FF0000;
}

button[disabled] {
  background-color: #999;
}

code {
  background-color: #EEE;
  padding: 0px 5px;
}

pre {
  background-color: #EEE;
  padding: 5px;
  overflow: auto;
  width: 100%;
}

form {
  div {
    padding-bottom: 5px;
  }
}

header {
  background-color: #000;
  overflow: auto;
  padding: 10px;
  
  a {
    color: #FFF;
  }
  
  div {
    float: left;
  }
  
  nav {
    float: right;
    padding: 10px;
    
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      
      li {
        display: inline-block;
        margin-left: 20px;
      }
    }
  }
}

input {
  font-size: 14px;
}

label {
  display: block;
}

.error {
  color: #CC0000;
}

.page {
  margin: 0px auto;
  max-width: 960px;
  padding: 0px 20px 20px 20px;
  
  section article, section section {
    width: 630px;
  }
  
  aside {
    background-color: #EEE;
    float: right;
    width: 350px;
  }
  
  h1 {
    border-bottom: 1px #CCC solid;
    font-size: 32px;
    font-weight: normal;
    padding-bottom: 10px;
  }
  
  h2 {
    color: #FF0000;
    font-size: 18px;
    font-weight: normal;
  }
  
  h3 {
    color: #999;
    font-size: 14px;
  }
}

#banner {
  right: 0px;
  position: absolute;
  top: 63px;
  
  img {
    border: 0px;
  }
}

#index {
  text-align: center;
  
  img.logo {
    margin: 30px 0px 10px 0px;
  }
  
  p.desc {
    font-size: 18px;
    padding-bottom: 10px;
  }
  
  #features {
    margin: 0px;
    overflow: auto;
    padding: 0px;
    list-style-type: none;
    
    code {
      font-size: 18px;
    }
    
    li {
      float: left;
      margin: 0px;
      padding: 0px;
      width: 33.3%;
    }
  }
}

#lang-generators {
  background-color: #EEE;
  clear: both;
  margin-top: 20px;
  text-align: center;
  
  h1 {
    font-family: 'Courier New';
    margin: 0px;
    padding-top: 40px;
  }
  
  ul
  {
    font-size: 14px;
    margin: 0px auto;
    overflow: auto;
    padding: 20px;
    list-style-type: none;
    max-width: 960px;
        
    h2 {
      font-size: 24px;
    }
    
    li {
      box-sizing: border-box;
      float: left;
      margin: 0px;
      padding: 20px;
      width: 25%;
    }
  }
}

#generators {
  li {
    span {
      color: #CCC;
      margin-left: 5px;
    }
    
    &:hover {
      span {
        color: #999;
      }
    }
  }
}

#results {
  background-color: #CCC;
  
  a {
    display: block;
    padding: 5px;
  }
}

#success {
  display: none;
}

@media screen and (max-width: 520px) {
  header {
    div {
      display: none;
    }
    
    nav {
      float: none;
      text-align: center;
      
      ul {
        li {
          margin: 0px 7px;
        }
      }
    }
  }
  
  #banner {
    display: none;
  }
}