header a.docs {
  color: #FFFF00;
}

section {
  overflow: auto;
  
  aside {
    background-color: #EEE;
    border-radius: 5px;
    box-sizing: border-box;
    float: left;
    padding: 20px;
    width: 30%;
    
    @media screen and (max-width: 640px) {
      float: none;
      padding: 0px;
      width: 100%;
    }
    
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      
      li {
        list-style: none;
        
        a {
          @media screen and (max-width: 640px) {
            display: block;
            padding: 20px;
          }
          
          &.selected {
            border: none;
            font-weight: bold;
          }
        }
        
        li {
          padding-left: 20px;
        }
      }
    }
  }
  
  section {
    box-sizing: border-box;
    float: left;
    padding: 20px;
    width: 70%;
    
    @media screen and (max-width: 640px) {
      width: 100%;
    }
    
    h1 {
      font-size: 32px;
    }
  }
}