section {
  min-height: 500px;
  padding: 80px 20px 20px 20px;
  
  aside {
    float: right;
    
    @media screen and (max-width: 640px) {
      float: none;
    }
    
    code {
      display: block;
      margin-bottom: 20px;
    }
  }
  
  h1 {
    font-size: 32px;
  }
}