header a.generators {
  color: #FFFF00;
}

section {
  ul {
    padding-bottom: 20px;
    
    li {
      span {
        color: #CCC;
        margin-left: 5px;
      }
      
      &:hover {
        span {
          color: #999;
        }
      }
    }
  }
  
  #results {
    background-color: #CCC;
    
    a {
      display: block;
      padding: 5px;
    }
  }
}