header {
  padding: 20px;
  
  @media screen and (max-width: 640px) {
    padding: 0px;
  }
}

section {
  background: none;
  padding: 0px;
  text-align: center;
  
  img.logo {
    margin: 30px 0px 10px 0px;
    max-width: 90%;
  }
  
  p.desc {
    font-size: 24px;
  }
  
  .banner {
    background-color: #FFFF00;
    color: #000;
    font-family: main;
    font-size: 28px;
    opacity: .8;
    padding: 40px 20px;
    text-transform: uppercase;
    
    &:hover {
      opacity: .9;
    }
    
    a {
      background-color: #111;
      border: none;
      color: #FFF;
      padding: 0px 10px;
      
      &:hover {
        color: #FFFF00;
      }
    }
  }
}

@media screen and (max-width: 520px) {
  #index {
    #features {
      li {
        float: none;
        width: 100%;
      }
    }
  }
}