header {
  padding: 20px;
}

section {
  background: none;
  text-align: center;
  
  img.logo {
    margin: 30px 0px 10px 0px;
    max-width: 90%;
  }
  
  p.desc {
    font-size: 24px;
  }
  
  .banner {
    background-color: #FFFF00;
    color: #000;
    font-family: main;
    font-size: 28px;
    opacity: .8;
    padding: 40px 0px;
    text-transform: uppercase;
    
    &:hover {
      opacity: .9;
    }
    
    a {
      background-color: #111;
      border: none;
      color: #FFF;
      padding: 0px 10px;
      
      &:hover {
        color: #FFFF00;
      }
    }
  }
  
  #contribute {
    background-color: #CCC;
    padding-bottom: 80px;
    overflow: auto;
    
    h2 {
      font-size: 32px;
      padding: 60px;
    }
    
    h3 {
      font-size: 24px;
    }
    
    p {
      padding-top: 20px;
    }
    
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      
      li {
        float: left;
        list-style: none;
        margin: 0px;
        padding: 0px;
        width: 50%;
      }
    }
  }
  
  #features {
    background-color: #000;
    list-style: none;
    overflow: auto;
    padding: 20px 0px 50px 0px;
    
    aside {
      border: 3px #333 solid;
      border-radius: 5px;
      float: right;
      margin-right: 100px;
    }
    
    code {
      background-color: #999;
      border-radius: 5px;
      color: #000;
      display: inline-block;
      font-size: 18px;
      margin-bottom: 10px;
      padding: 5px;
      
      a {
        color: #FFF;
        
        &:hover {
          border: none;
          color: #FFFF00;
        }
      }
    }
    
    ul {
      float: left;
      list-style: none;
      margin: 0px;
      overflow: auto;
      padding: 0px;
      width: 40%;
      
      li {
        display: block;
        margin: 0px;
        padding: 0px;
      }
    }
    
    .title {
      padding: 20px;
      font-size: 48px;
      font-weight: bold;
    }
  }
  
  #usage {
    background-color: #FFF;
    overflow: auto;
    padding: 40px;
    
    h2 {
      font-size: 32px;
    }
    
    ul {
      display: block;
      list-style: none;
      margin: 0px;
      padding: 0px;
      text-align: center;
      
      li {
        display: inline-block;
        list-style: none;
        margin: 0px;
        padding: 0px;
        width: 400px;
        
        h3 {
          font-size: 48px;
        }
        
        img {
          height: 400px;
        }
        
        span {
          display: block;
          font-size: 32px;
          padding: 10px 20px 0px 20px;
        }
      }
    }
  }
  
  #intro {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    color: #FFF;
    height: 100vh;
    text-shadow: 1px 1px 1px #000;
    
    .desc {
      font-size: 18px;
      margin: 0px auto;
      padding-bottom: 20px;
      width: 50%;
    }
    
    .title {
      color: #FFFF00;
      font-family: main;
      font-size: 32px;
      padding-top: 35%;
    }
    
    .tag {
      color: #999;
    }
  }
  
  #lang-generators {
    background-color: #EEE;
    clear: both;
    text-align: center;
    
    h1 {
      font-family: 'Courier New';
      margin: 0px;
      padding-top: 40px;
    }
    
    ul
    {
      font-size: 14px;
      margin: 0px auto;
      overflow: auto;
      padding: 20px;
      list-style-type: none;
      max-width: 960px;
          
      li {
        border-radius: 20px;
        box-sizing: border-box;
        color: #FFF;
        float: left;
        margin: 0px;
        padding: 20px;
        width: 25%;
        
        &:hover {
          box-shadow: inset 0px 0px 100px #CCC;
          
          h2, p {
            display: block;
            position: absolute;
            text-align: center;
            width: 200px;
          }
          
          img {
            opacity: .1;
          }
        }
        
        h2 {
          display: none;
          font-size: 24px;
          margin-top: -120px;
          text-shadow: 1px 1px 1px #000;
        }
        
        p {
          display: none;
          margin-top: -90px;
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  #index {
    #features {
      li {
        float: none;
        width: 100%;
      }
    }
  }
}